<div class="tex-center mt-3">
    <h2>{{predicate == "liked" ? "Избранное" : "Избранный у пользователей"}}</h2>
</div>

<div class="container mt-3">
        <div class="btn-group" name="predicate">
            <button class="btn btn-primary" btnRadio="liked" [disabled]="predicate == 'liked'" [(ngModel)]="predicate" (click)="loadLikes()">Моё избранное</button>
            <button class="btn btn-primary" btnRadio="likedBy" [disabled]="predicate == 'likedBy'" [(ngModel)]="predicate" (click)="loadLikes()">Избранный у пользователе</button>
        </div>

    <div class="row mt-3">
        <div class="col-2" *ngFor="let member of members">
            <app-member-card [member]="member"></app-member-card>
        </div>
        <div *ngIf="members?.length === 0" class="col-2">Пусто...</div>
    </div>
</div>

<div class="d-flex justify-content-center" *ngIf="pagination && isPaginationRequired()">
    <pagination 
        [boundaryLinks]="true" 
        [totalItems]="pagination.totalItems"
        [itemsPerPage]="pagination.itemsPerPage"
        [(ngModel)]="pagination.currentPage"
        (pageChanged)="pageChanged($event)" 
        previousText="&lsaquo;" 
        nextText="&rsaquo;" 
        firstText="&laquo;"
        lastText="&raquo;">
    </pagination>
</div>
