.img-thumbnail {
    margin: 25px;
    width: 85%;
    height: 85%;
}

.card-body {
    padding: 0 25px;
}

.card-footer {
    padding: 10px 15px;
    background-color: #fff;
    border-top: none;
}

.location-details {
    display: flex;
    flex-direction: column;
    max-width: 256px;
}

.location-details input {
    margin-bottom: 20px;
}

.location-details input:last-child {
    margin-bottom: 0px;
}