<div *ngIf="!registerMode" style="text-align: center">
    <h1>Найди своих коллег</h1>
    <p class="lead">Начни общаться с коллегами... Всё что тебе нужно - это авторизоваться!</p>
    <div class="text-center">
        <button (click)="registerToggle()" class="btn btn-primary btn-lg mr-2">Регистрация</button>
        <button class="btn btn-info btn-lg">Узнать больше</button>
    </div>
</div>

<div *ngIf="registerMode" class="container">
    <div class="row justify-content-center">
        <div class="col-4">
            <app-register (cancelRegister)="cancelRegister($event)"></app-register>
        </div>
    </div>
</div>