<nav class="navbar navbar-expand-md navbar-light fixed-top bg-light">
  <div class="container">
    <a class="navbar-brand" routerLink="/" routerLinkActive="active">Belarus Film Corporate Messenger</a>
    <ul class="navbar-nav mr-auto">
      <ng-container *ngIf="accountService.currentUser$ | async">
        <li class="nav-item">
          <a class="nav-link" routerLink="/members" routerLinkActive="active">Colleagues</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/lists" routerLinkActive="active">Favorites</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/messages" routerLinkActive="active">Messages</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" *appHasRole='["Admin", "Moderator"]' routerLink="/admin" routerLinkActive="active">Admin</a>
        </li>
      </ng-container>
      <li class="nav-item" [hidden]="true">
        <a class="nav-link" routerLink="/errors" routerLinkActive="active">Errors</a>
      </li>
    </ul>

    <div class="dropdown" dropdown *ngIf="(accountService.currentUser$ | async) as user">
      <img src="{{user.photoUrl || './assets/user.png'}}" alt="{{user.name}}" class="mr-2">
      <a id="user_dropdown" dropdownToggle class="dropdown-toggle text-primary">{{user.name | titlecase}}</a>
      <div class="dropdown-menu" *dropdownMenu>
        <a routerLink="/member/edit" class="dropdown-item">Edit profile</a>
        <a class="dropdown-item" (click)="logout()">Logout</a>
      </div>
    </div>

    <form *ngIf="(accountService.currentUser$ | async) === null" #loginForm="ngForm" class="form-inline mt-2 mt-md-0"
      (ngSubmit)="login()" autocomplete="off">
      <input name="name" [(ngModel)]="model.name" class="form-control mr-sm-2" type="text"
        placeholder="Username">
      <input name="pwd" [(ngModel)]="model.pwd" class="form-control mr-sm-2" type="password"
        placeholder="Password">
      <button class="btn btn-outline-primary my-2 my-sm-0" type="submit">Login</button>
    </form>
  </div>
</nav>