<div class="card">
    <div class="card-body">
        <div *ngIf="(messageService.messageThread$ | async)?.length === 0">
            Пока здесь пусто...
            <span (click)="sayHi()" style="text-decoration: underline; cursor: pointer;">Поздоровайся!</span>
        </div>

        <ul #scrollMe
            style="overflow: scroll; height: 500px; overflow-x: hidden;" 
            [scrollTop]="scrollMe.scrollHeight"
            *ngIf="(messageService.messageThread$ | async).length > 0" class="chat">
                <li *ngFor="let message of (messageService.messageThread$ | async)">
                    <span class="chat-image float-left">
                        <img src="{{message.senderPhotoUrl ?? './assets/user.png'}}" 
                            alt="{{message.senderName}}" class="rounded-circle mr-3">
                    </span>
                    <div class="chat-body">
                        <div class="header">
                            <small class="text-muted">
                                <span class="fa fa-clock-o"> {{message.messageSent | timeago}}</span>
                                <span class="text-danger" *ngIf="!message.dateRead && message.senderName !== name">
                                    (непрочитано)
                                </span>
                                <span class="text-info" *ngIf="message.dateRead && message.senderName !== name">
                                    (прочитано {{message.dateRead | timeago}})
                                </span>
                            </small>
                        </div>

                        <p>{{message.content}}</p>
                    </div>
                </li>
            </ul>
    </div>

    <div class="card-footer">
        <form #messageForm="ngForm" (submit)="sendMessage()" (ngSubmit)="sendMessage()" autocomplete="off">
            <div class="input-group">
                <input 
                    name="messageContent"
                    required
                    [(ngModel)]="messageContent"
                    type="text" 
                    class="form-control input-sm" 
                    placeholder="Отправь сообщение">
                    
                <div class="input-group-append">
                    <button  [disabled]="!messageForm.dirty" class="btn btn-primary" type="submit">Отправить</button>
                </div>
            </div>
        </form>
    </div>
</div>