<button (click)="navigateToHomePage()" class="btn btn-outline back-button">На главную</button>
<main class="main">
    <h4 class="main__title">Корпоритивный мессенджер для "Беларусьфильм"</h4>
    <div class="main__content main-content">
        <p class="main-content__text">
            Веб-приложение «Корпоративный мессенджер сотрудников Беларусь-фильм» - веб-приложение, аккумулирует
            сотрудников "Беларусьфильм" в базе данных и позволяет вести переписку в реальном времени.
        </p>
        <p class="main-content__text">
            Веб-приложение является системой
            с авторизированный доступом, поэтому первое, что вам нужно сделать при входе на сайт будет это
            зарегистрироваться, либо войти в существующий аккаунт.
        </p>
        <p class="main-content__text">
            Целью проекта является разработка веб-приложения «Корпоративный мессенджер сотрудников Беларусьфильма»,
            обеспечивающее возможность корпоративного общения с помощью сети Интернет в чатах. Целью внедре-ния
            веб-приложения является улучшение коммуникации между сотрудника-ми, при этом показывая максимальную
            производительность.
        </p>
        <p class="main-content__text main-content__text--list-descriptor">
            Если пользователь ещё не был зарегистрирован ранее, то он может со-здать аккаунт в форме для регистрации
            нажав на кнопку «Регистрация» на главной странице. Страница с полем для регистрации выглядит следующим
            образом:
        </p>
        <ul class="main-content__list main-content-list">
            <li class="main-content-list__item">выбора пола (мужской или женский);</li>
            <li class="main-content-list__item">поле для ввода логина, видного только этому владельцу аккаунта;</li>
            <li class="main-content-list__item">поле для ввода ФИО;</li>
            <li class="main-content-list__item">поле даты рождения, после нажатия, на которое появляется календарь, где нужно выбрать дату рождения;
            </li>
            <li class="main-content-list__item">поле для выбора отдела, в котором работает пользователь;</li>
            <li class="main-content-list__item">поле для ввода кабинета, в котором работает пользователь;</li>
            <li class="main-content-list__item">поле для пароля;</li>
            <li class="main-content-list__item">поле для повторного ввода пароля.</li>
        </ul>
        <p class="main-content__text">После успешной авторизации пользователь попадает на страницу «Коллеги», где
            расположены предложенные
            аккаунты сотрудников Национальной киностудии Беларусьфильм с краткой информацией о них (ФИО, отдел,
            каби-нет, должность). При наведении курсора на фотографии пользователей всплывают предложенные действия:
            перейти в профиль, добавить в избран-ное, перейти в чат или же написать.
        </p>
        <p class="main-content__text">
            В верхней части сайта (на панели навигации) есть иконка пользователя, где находятся кнопки с предложенными
            действиями для пользователя «Редактировать профиль» и «Выйти», также на панели находится логотип
            киностудии Беларусьфильм и три кнопки: «Коллеги», «Избранные», «Сообщения».
        </p>
        <p class="main-content__text">
            После нажатия на кнопку «Избранное» отображаются сотрудники, которых добавили в эту вкладку.
        </p>
        <p class="main-content__text">
            После перехода на «Сообщения» отображаются три вкладки сообщений – отправлено, принято, непрочитанные. При
            нажатии на одну из них отображается соответствующая вкладке информация по чатам. После нажатия на одно из
            таких сообщений пользователя перенесёт в чат с данным сотрудни-ком Национальной киностудии Беларусьфильм.
        </p>
    </div>
</main>